<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/board.css}" href="css/board.css" rel="stylesheet">
    <title>Title</title>

</head>
<body>
<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3><b>게시물</b></h3>
        </div>
    </div>

    <div id="board-list">
        <div class="container">
            <form action="post.html" th:action method="post">
                <table class="board-table">
                    <tr>
                        <th>제목</th>
                        <td><input type="text" id="title" name="title" class="form-control"
                                   th:value="${post.title}" readonly></td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td><textarea class="form-control" rows="10" name="content" id="content" readonly>[[${post.content}]]</textarea>
                        </td>
                    </tr>
                </table>

                <div id="board-button" style="margin-top: 20px">
                    <div class="container">
                        <input class="btn btn-dark btn-cancel" type="button"
                               th:onclick="|location.href='@{/boards}'|"
                               onclick="location.href='boards.html'" value="목록으로">
                        <input class="btn btn-dark btn-add" type="button"
                               th:onclick="|location.href='@{/boards/{postId}/edit(postId=${post.id})}'|"
                               onclick="location.href='editPost.html'" value="수정">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container py-5">
        <form th:action='@{/boards/{postId}/comment/add(postId=${post.id})}' method="post">
            <div style="margin-top: 10px; margin-bottom: 10px">
                <h4>댓글</h4>
            </div>
            <div>
                <table class="board-table">
                    <tbody>
                    <tr th:each="comment : ${comments}">
                        <td><a href="post.html" th:text="${comment.member.username}"></a></td>
                        <td><a href="post.html" th:text="${comment.text}"></a></td>
                        <td><a href="post.html" th:text="${comment.registrationDate}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="position: relative">
                <input type="text" class="form-control" id="text" name="text">
                <button class="btn btn-dark btn-add" style="position: absolute; top: 4px; right: 0;" type="submit">
                    등록
                </button>
            </div>
        </form>
    </div>
</section>
</body>
</html>